{% extends "base2.html" %}
{% load staticfiles %}

{% block css-files %}
  <link rel="stylesheet" href="{% static "css/preferences.css" %}"/>
  <link href="/static/css/bootstrap-4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/material-bootstrap-wizard.css" rel="stylesheet">
	<style>
		html {
		  scroll-behavior: smooth;
		}
		.btn.btn-primary {
			background-color: white;
		}
		.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus  {
			background-color: aqua;
		}
    </style>
{% endblock %}

{% block content %}
<!-- FORM -->
<div id="outer-box" style="display:none; height: 100%;">
<div id="preference-box" class="">





	<div class="image-container set-full-height" style="background-image: url(/static/images/Night_Singapore.JPG); height: auto;">

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-12">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="blue" id="wizardProfile">
		                    <form id="form-preference"> {% csrf_token %}
		                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
								<input type="hidden" name="cuisine" value="a">
		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        	   Help me choose
		                        	</h3>
									<h5>Based on your profile and preferences, we would recommend the top 3 options for you.</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul class="nav nav-pills">
			                            <li class="active" style="width: 33.3333%;"><a href="#profile" data-toggle="tab" aria-expanded="true">Your Profile</a></li>
			                            <li style="width: 33.3333%;" class=""><a href="#preference" data-toggle="tab" aria-expanded="false">Your Preference</a></li>
			                            <li style="width: 33.3333%;" class=""><a href="#consider" data-toggle="tab" aria-expanded="false">Other Considerations</a></li>
			                        </ul>
								<div class="moving-tab" style="width: 156.667px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">Your Profile</div></div>

		                        <div class="tab-content">
		                            <div class="tab-pane active" id="profile">
									  <h4 class="info-text"> </h4>
		                              <div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<div class="form-group label-floating">
												<label class="control-label">I live in a <small>(required)</small></label>
												<select name="housetype" class="form-control valid" aria-required="true" aria-invalid="false" required>
													<option disabled="" selected=""></option>
													<option value="hdb-1-room"> HDB 1-RM </option>
													<option value="hdb-2-room"> HDB 2-RM </option>
													<option value="hdb-3-room"> HDB 3-RM </option>
													<option value="hdb-4-room"> HDB 4-RM </option>
													<option value="hdb-5-room"> HDB 5-RM & Executive </option>
													<option value="exec-apt-condo"> Private Apt & Condominium </option>
													<option value="landed"> Landed Properties </option>
												</select>
											<span class="material-input"></span></div>
											<div class="form-group label-floating">

												<label class="control-label">Monthly household income <small>(required)</small></label>
												<select name="income" class="form-control" aria-required="true" aria-invalid="false" required>
													<option disabled="" selected=""></option>
													<option value="1"> Under $1,500 </option>
													<option value="2"> Between $1,500 and $2,499 </option>
													<option value="3"> Between $2,500 and $3,999 </option>
													<option value="4"> Between $4,000 and $5,999 </option>
													<option value="5"> Between $6,000 and $9,999 </option>
													<option value="6"> Over $10,000 </option>
												</select>
												<span class="material-input"></span>

											</div>
											<div class="form-group label-floating">
												<label class="control-label">My residence is </label>

												<div class="input-group">
													<div id="radioBtn" class="btn-group">
														<a class="btn btn-primary btn-md active" data-toggle="residence" data-title="self-owned">Owned</a>
														<a class="btn btn-primary btn-md notActive" data-toggle="residence" data-title="rented">Rented</a>
													</div>
													<input type="hidden" name="residence" id="residence" value="self-owned">
												</div>

											</div>

											<div class="form-group label-floating">
													<label class="control-label">Are you risk adverse or a risk taker?</label>
													<div class="input-group">
														<div id="radioBtn" class="btn-group">
															<a class="btn btn-primary btn-md notActive" data-toggle="risk" data-title="TRUE">Risk Adverse</a>
															<a class="btn btn-primary btn-md active" data-toggle="risk" data-title="FALSE">Risk Taker</a>
														</div>
														<input type="hidden" name="risk" id="risk" value="FALSE">
													</div>

												</div>
										</div>
										<div class="col-sm-2"></div>

		                              </div>
		                            </div>
		                            <div class="tab-pane" id="preference">
		                                <h4 class="info-text"> </h4>
		                                <div class="row">
		                                    <div class="col-sm-2"></div>
											<div class="col-sm-8">


												<div class="form-group label-floating">
													<label class="control-label">I prefer my electricity bills to be </label>
													<div class="input-group">
														<div id="radioBtn" class="btn-group">
															<a class="btn btn-primary btn-md active" data-toggle="bill" data-title="FALSE">as of current, combine with water and gas</a>
															<a class="btn btn-primary btn-md notActive" data-toggle="bill" data-title="TRUE">a separate bill from my water and gas</a>
														</div>
														<input type="hidden" name="bill" id="bill" value="FALSE">
													</div>

												</div>

												<div class="form-group label-floating">
													<label class="control-label">Are you ok paying Security Deposit with an Electricity Retailer?</label>
													<div class="input-group">
														<div id="radioBtn" class="btn-group">
															<a class="btn btn-primary btn-md active" data-toggle="sd" data-title="TRUE">Yes</a>
															<a class="btn btn-primary btn-md notActive" data-toggle="sd" data-title="FALSE">No</a>
														</div>
														<input type="hidden" name="sd" id="sd" value="TRUE">
													</div>

												</div>

												<div class="form-group label-floating">
													<label class="control-label">Does the Electricity Retailer incentives affects your choice?</label>
													<div class="input-group">
														<div id="radioBtn" class="btn-group">
															<a class="btn btn-primary btn-md notActive" data-toggle="incentive" data-title="TRUE">Yes</a>
															<a class="btn btn-primary btn-md active" data-toggle="incentive" data-title="FALSE">No</a>
														</div>
														<input type="hidden" name="incentive" id="incentive" value="FALSE">
													</div>

												</div>

												<div class="form-group label-floating">
													<label class="control-label">An Electicity Retailer's branding/stability is Important.</label>
													<div class="input-group">
														<div id="radioBtn" class="btn-group">
															<a class="btn btn-primary btn-md active" data-toggle="brand" data-title="TRUE">Yes</a>
															<a class="btn btn-primary btn-md notActive" data-toggle="brand" data-title="FALSE">No</a>
														</div>
														<input type="hidden" name="brand" id="brand" value="TRUE">
													</div>

												</div>
											</div>
											<div class="col-sm-2"></div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="consider">
		                                <div class="row">
		                                    <div class="col-sm-2"></div>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="form-group label-floating" style="width:100%">
													  <label class="control-label">Any other considerations?</label>
													  <input name="otherconsider" type="text" class="form-control" aria-required="false" aria-invalid="false">
													  <span class="material-input"></span></div>

												</div>

											</div>
											<div class="col-sm-2"></div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
		                            <div class="float-right">
		                                <input type="button" class="btn btn-next btn-fill btn-success btn-wd" name="next" value="Next" style="">
		                                <input id="submit-button" type="submit" class="btn btn-finish btn-fill btn-success btn-wd" name="finish" value="Finish" style="display: none;"><!--onclick="submitForm2();"-->
		                            </div>

		                            <div class="float-left">
		                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
		                            </div>
		                            <div class="clearfix"></div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div><!-- end row -->
	    </div> <!--  big container -->
	</div>



</div>
</div>


<!-- CARDS -->
<div id="dishes-box" class="ui container" style="margin-top: 100px">
  <div id="dish-cards" class="ui three stackable link cards">
  </div>
</div>


<!-- MODAL -->
<div id="modal-card-detail" class="ui large modal">
  <!-- Thanks message -->
  <div id="modal-message" class="ui green message">Thank you :)</div>

  <!-- Suggestions -->
  <span id="suggestion-box">
  </span>

  <i class="close icon"></i>

  <!-- Header -->
  <div id="modal-header" class="ui content">
    <div class="ui grid">
      <div class="ui twelve wide column">
        <h2 id="detail-name" class="ui header">Name of the dish</h2>
        <div id="detail-tags">
          <a class="ui tag label">New</a>
          <a class="ui tag label">New</a>
          <a class="ui tag label">New</a>
        </div>
      </div>
      <div class="ui right aligned four wide column">
        <p id="detail-rating" class="ui header">Rating: </p>
        <div class="ui right aligned">
          <i id="header-star-1" class="empty star icon review-star"></i>
          <i id="header-star-2" class="empty star icon review-star"></i>
          <i id="header-star-3" class="empty star icon review-star"></i>
          <i id="header-star-4" class="empty star icon review-star"></i>
          <i id="header-star-5" class="empty star icon review-star"></i>
        </div>
      </div>
    </div>
    <div class="ui clearing divider"></div>
  </div>

  <!-- Main content -->
  <div id="modal-content" class="ui content">
    <div class="ui grid">

      <!-- Images -->
      <div class="eight wide column" id="modal-images">
        <img class="arrows" id="right-arr" src="/static/images/arrow-right.png">
        <img class="arrows" id="left-arr" src="/static/images/arrow-left.png">

        <span id="modal-image-tabs">
          <div class="ui bottom attached tab active" data-tab="first">
            <img src="/static/images/dishes/17_1_square.jpeg" style="width:100%"/>
          </div>
        </spans>

      </div>

      <!-- Right Things -->
      <div class="eight wide column" id="review-maincontent" >
        <!-- Description -->
        <div class="comments">
          <div class="ui dividing header">Description</div>
          <p id="detail-description">This is a text.</p>
        </div>

        <!-- Comments/Reviews -->
        <div class="ui comments">
          <h3 class="ui dividing header">Comments&nbsp;&nbsp;&nbsp;&nbsp;<i id="review-new-button" class="edit icon link"></i></h3>

          <form id="review-form" class="ui form" style="display:none">  {% csrf_token %}
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <input type="text" name="review-name" placeholder="Your Name">
                </div>
                <div class="field">
                  <i id="star-1" class="empty star icon link review-star" onclick="clickStar(1)"></i>
                  <i id="star-2" class="empty star icon link review-star" onclick="clickStar(2)"></i>
                  <i id="star-3" class="empty star icon link review-star" onclick="clickStar(3)"></i>
                  <i id="star-4" class="empty star icon link review-star" onclick="clickStar(4)"></i>
                  <i id="star-5" class="empty star icon link review-star" onclick="clickStar(5)"></i>
                </div>
              </div>
            </div>

            <!-- Comment -->
            <div class="field">
              <input type="text" name="review-stars" style="display:none">
              <textarea id="review-comment" rows="3" placeholder="Your comment here ..."></textarea>
            </div>

            <!-- Errors -->
            <div class="ui error message"></div>

            <!-- Submit button -->
            <div class="inline fields">
              <div class="ui submit teal button"><i class="icon edit"></i> Submit</div>
            </div>
          </form>

          <!-- List of comments -->
          <span id="comments">
          </span>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block js-files %}
  <script src="{% static "js/preferences.js" %}"></script>
  <script>
    $(window).load(function() {
      $('.menu .item')
    .tab();
    });
  </script>
  <!--   Core JS Files   -->
    <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/static/css/bootstrap-4.1.1/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.bootstrap.js" type="text/javascript"></script>
	<script src="/static/js/material-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
	<script src="/static/js/jquery.validate.min.js" type="text/javascript"></script>
{% endblock %}
